<div class="modal-header">
    <button class="btn pull-right" type="button" ng-click="vm.close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3 class="modal-title" translate="Fields.TitleEdit"></h3>
</div>
<div class="modal-body">
    <table class="table table-hover">
        <thead>
        <tr>
            <th translate="Fields.Table.Name"></th>
            <th translate="Fields.Table.DataType">Data Type</th>
            <!-- <th translate="Fields.Table.InputType">Input Type</th> -->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.items">
            <td><input ng-model="item.StaticName" ng-required="true"/></td>
            <td><select ng-model="item.Type" ng-options="o for o in vm.types track by o"></select></td>
            <!-- <td></td> -->
        </tr>
        <tr ng-if="!vm.items.length">
            <td colspan="100" translate="General.Messages.NothingFound"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
</div>