<div ng-controller="List as vm">
    <div class="modal-header">
        <h3 class="modal-title" translate="ContentTypes.Title"></h3>
    </div>
    <div class="modal-body" ng-click="vm.maybeEnableDebug($event)">
        <!-- Buttons on top -->
        <button icon="plus" title="{{ 'General.Buttons.Add' | translate }}" type="button" class="btn btn-default" ng-click="vm.edit()"></button>

        <button icon="repeat" title="{{ 'General.Buttons.Refresh' | translate }}" type="button" class="btn" ng-click="vm.refresh()"></button>

        <span ng-if="vm.debug">
            <button icon="record" title="{{ 'ContentTypes.Buttons.ChangeScope' | translate }}" type="button" class="btn" ng-click="vm.changeScope()"></button>

            <button icon="flash" title="{{ 'General.Buttons.System' | translate }}" type="button" class="btn" ng-click="vm.liveEval()"></button>
        </span>
        <!-- Table of content types for editing -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th translate="ContentTypes.TypesTable.Name"></th>
                    <th translate="ContentTypes.TypesTable.Description"></th>
                    <th translate="ContentTypes.TypesTable.Fields"></th>
                    <th translate="ContentTypes.TypesTable.Items"></th>
                    <th translate="ContentTypes.TypesTable.Actions"></th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="vm.items.isLoaded" ng-repeat="item in vm.items | orderBy:'Name'">
                    <td><a ng-click="vm.edit(item)" target="_self">{{item.Name}}</a></td>
                    <td>{{item.Description}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-default" ng-click="vm.editFields(item)">
                            <span icon="cog">&nbsp;{{item.Fields}}</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs btn-default" ng-click="vm.editItems(item)">
                            <span icon="list">&nbsp;{{item.Items}}</span>
                        </button>
                    </td>
                    <td class="text-nowrap">
                        <button icon="export" tooltip="{{ 'ContentTypes.Buttons.Export' | translate }}" type="button" class="btn btn-xs" ng-click="vm.openExport(item)"></button>
                        <button icon="import" tooltip="{{ 'ContentTypes.Buttons.Import' | translate }}" type="button" class="btn btn-xs" ng-click="vm.openImport(item)"></button>
                        <button icon="user" type="button" class="btn btn-xs" ng-click="vm.permissions(item)" ng-if="vm.isGuid(item.StaticName)"></button>
                    </td>
                    <td>
                        <button icon="remove" type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)"></button>
                    </td>
                </tr>
                <tr ng-if="!vm.items.length">
                    <td colspan="100">{{ 'General.Messages.Loading' | translate }} / {{ 'General.Messages.NothingFound' | translate }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div ng-if="vm.debug">

        <h3>todo</h3>
        <ol>
            <li>get validators to work on all dialogs</li>
            <li>this dialog doesn't refresh properly when I add/change stuff</li>
        </ol>
    </div>
</div>
