<div ng-controller="List as vm" ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <h3 class="modal-title" translate="ContentTypes.Title"></h3>
    </div>
    <div class="modal-body">
        <!-- Buttons on top -->
        <button icon="plus" title="{{ 'General.Buttons.Add' | translate }}" type="button" class="btn btn-default" ng-click="vm.edit()"></button>

        <button icon="repeat" title="{{ 'General.Buttons.Refresh' | translate }}" type="button" class="btn" ng-click="vm.refresh()"></button>

        <span ng-if="vm.debug.on">
            <button icon="record" title="{{ 'ContentTypes.Buttons.ChangeScope' | translate }}" type="button" class="btn" ng-click="vm.changeScope()"></button>

            <button icon="flash" title="{{ 'General.Buttons.System' | translate }}" type="button" class="btn" ng-click="vm.liveEval()"></button>
        </span>
        <!-- Table of content types for editing -->
        <table class="table table-hover" style="table-layout: fixed; width: 100%">
            <thead>
                <tr>
                    <th translate="ContentTypes.TypesTable.Items" class="col-id"></th>
                    <th translate="ContentTypes.TypesTable.Name" style="width: 50%"></th>
                    <th translate="ContentTypes.TypesTable.Description" style="width: 50%"></th>
                    <th translate="ContentTypes.TypesTable.Fields" class="mini-btn-2"></th>
                    <th translate="ContentTypes.TypesTable.Actions" class="mini-btn-3"></th>
                    <th style="width: 40px"> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="vm.items.isLoaded" ng-repeat="item in vm.items | orderBy:'Name'">
                    <td style="text-align: center"> {{item.Items}} </td>
                    <td>
                        <a class="text-nowrap hide-overflow-text" style="max-width: 400px" ng-click="vm.editItems(item)" target="_self" tooltip="{{item.Name}}">{{item.Name}}</a>
                    </td>
                    <td>
                        <div class="text-nowrap hide-overflow-text" style="max-width: 500px" tooltip="{{item.Description}}">{{item.Description}}</div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs" style="width: 60px" ng-click="vm.editFields(item)">
                            <span icon="list">&nbsp;{{item.Fields}}</span>
                        </button>
                    </td>

                    <td class="text-nowrap">
                        <button icon="info-sign" tooltip="{{ 'ContentTypes.Buttons.Rename' | translate }}" type="button" class="btn btn-xs" ng-click="vm.edit(item)"></button>
                        <button icon="export" tooltip="{{ 'ContentTypes.Buttons.Export' | translate }}" type="button" class="btn btn-xs" ng-click="vm.openExport(item)"></button>
                        <button icon="import" tooltip="{{ 'ContentTypes.Buttons.Import' | translate }}" type="button" class="btn btn-xs" ng-click="vm.openImport(item)"></button>
                        <button icon="user" type="button" class="btn btn-xs" ng-click="vm.permissions(item)" ng-if="vm.isGuid(item.StaticName)"></button>
                    </td>
                    <td>
                        <button icon="remove" type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)"></button>
                    </td>
                </tr>
                <tr ng-if="!vm.items.length">
                    <td colspan="100">{{ 'General.Messages.Loading' | translate }} / {{ 'General.Messages.NothingFound' | translate }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div ng-if="vm.debug.on">

        <h3>Notes / Debug / ToDo</h3>
        <ol>
            <li>get validators to work on all dialogs</li>
            <li>this dialog doesn't refresh properly when I add/change stuff</li>
        </ol>
    </div>
</div>
