<div class="modal-header">
    <button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>
    <h3 class="modal-title" translate="ContentTypeEdit.Title"></h3>
</div>

<div class="modal-body">
    {{ "ContentTypeEdit.Name" | translate }}: <br />
    <input ng-model="vm.item.Name" />
    <br />
    {{ "ContentTypeEdit.Description" | translate }}: <br />
    <input ng-model="vm.item.Description" /><br />
    {{ "ContentTypeEdit.Scope" | translate }}: <br />
    <input disabled="true" ng-model="vm.item.Scope" />
</div>
<div class="modal-footer">
    <button icon="ok" class="btn btn-primary pull-left" type="button" ng-click="vm.ok()"></button>
</div>