	<div class="modal-header">
		<button class="btn btn-default btn-square pull-right" type="button" ng-click="vm.close()"><i icon="remove"></i></button>
		<h3 class="modal-title" translate="Fields.Title"></h3>
	</div>
	<div class="modal-body">
		<button icon="plus" ng-click="vm.add()" class="btn btn-primary btn-square"></button>

		<!-- Table of content types for editing -->
		<table class="table table-hover table-manage-eav">
			<thead>
				<tr>
					<th translate="Fields.Table.Title" class="mini-btn-1"></th>
					<th translate="Fields.Table.Name" style="width: 200px"></th> 
					<th translate="Fields.Table.DataType" style="width: 100px"></th>
					<th translate="Fields.Table.Label" style="width: 150px" ></th>
					<!--<th translate="Fields.Table.InputType"></th>-->
					<th translate="Fields.Table.Notes" style="width: 250px"></th>
					<th translate="Fields.Table.Sort" class="mini-btn-2"></th>
					<th translate="Fields.Table.Action" class="mini-btn-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.items | orderBy: 'SortOrder'" class="clickable-row" ng-click="vm.createOrEditMetadata(item, item.Type)">
					<td stop-event="click">
					    <button type="button" class="btn btn-xs btn-square" ng-style="(item.IsTitle ? '' : 'color: transparent !important')" ng-click="vm.setTitle(item)">
					        <i icon="{{item.IsTitle ? 'star' : 'star-empty'}}"></i>
					    </button>
					</td>
					<td class="clickable" ><span tooltip="{{ 'Id: ' + item.Id}}">{{item.StaticName}}</span></td>
				    <td class="text-nowrap clickable">
				        {{item.Type}}
				    </td>
                    <td class="text-nowrap clickable">
                        {{item.Metadata.All.Name}}
                    </td>
					<!--<td>-</td>-->
                    <td class="text-nowrap clickable">
                        {{item.Metadata.All.Notes}}
                    </td>

					<td class="text-nowrap" stop-event="click">
						<button icon="arrow-up" type="button" class="btn btn-xs btn-square" ng-disabled="$first" ng-click="vm.moveUp(item)"></button>
						<button icon="arrow-down" type="button" class="btn btn-xs btn-square" ng-disabled="$last" ng-click="vm.moveDown(item)"></button>
					</td>
					<td stop-event="click">
						<button icon="remove" type="button" class="btn btn-xs btn-square" ng-click="vm.tryToDelete(item)"></button>
					</td>
				</tr>
				<tr ng-if="!vm.items.length">
				    <td colspan="100" translate="General.Messages.NothingFound"></td>
				</tr>
			</tbody>
		</table>


	</div>

