<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <button class="btn btn-default btn-square pull-right" type="button" ng-click="vm.close()"><i icon="remove"></i></button>
        <h3 class="modal-title" translate="ContentTypeEdit.Title"></h3>
    </div>

    <div class="modal-body">
        {{ "ContentTypeEdit.Name" | translate }}: <br />
        <input ng-model="vm.item.Name" class="input-lg" />
        <br />
        {{ "ContentTypeEdit.Description" | translate }}: <br />
        <input ng-model="vm.item.Description" class="input-lg"/><br/>

        <div>
            {{ "ContentTypeEdit.Scope" | translate }}: <br />
            <span ng-if="vm.debug.on">
                <div class="alert alert-danger">the scope should almost never be changed - <a href="http://2sxc.org/help?tag=scope" _target="_blank">see help</a></div>
            </span>
            <input ng-disabled="!vm.debug.on" ng-model="vm.item.Scope" class="input-lg" />
        </div>

        <div ng-if="vm.debug.on" class="alert-danger">
            <h3>Static Name</h3>
            <input type="checkbox" class="input-lg" ng-model="vm.item.ChangeStaticName"/> Really edit StaticName??? - this is usually a very bad idea
            <br/>
            <input ng-model="vm.item.NewStaticName" ng-disabled="!vm.item.ChangeStaticName" class="input-lg"/>
        </div>
        <div ng-if="vm.debug.on" class="alert-danger">
            <h3>Shared Content Type</h3>
            <div>Note: this can't be edited in the UI, for now if you really know what you're doing, do it in the DB</div>
            <div>Uses Type Definition of: {{vm.item.SharedDefId}}</div> 
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-square pull-left btn-lg" type="button" ng-click="vm.ok()"><i icon="ok"></i></button>
    </div>
</div>