	<div class="modal-header">
		<button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>
		<h3 class="modal-title" translate="Fields.Title"></h3>
	</div>
	<div class="modal-body">
		<button icon="plus" ng-click="vm.add()" class="btn btn-default"></button>

		<!-- Table of content types for editing -->
		<table class="table table-hover table-manage-eav">
			<thead>
				<tr>
					<th translate="Fields.Table.Title" class="mini-btn-1"></th>
					<th translate="Fields.Table.Name" style="width: 200px"></th> 
					<th translate="Fields.Table.DataType" style="width: 100px"></th>
					<th translate="Fields.Table.Label" style="width: 150px" ></th>
					<!--<th translate="Fields.Table.InputType"></th>-->
					<th translate="Fields.Table.Notes" style="width: 250px"></th>
					<th translate="Fields.Table.Sort" class="mini-btn-2"></th>
					<th translate="Fields.Table.Action" class="mini-btn-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.items | orderBy: 'SortOrder'">
					<td>
						<button icon="{{item.IsTitle ? 'star' : 'star-empty'}}" type="button" class="btn btn-xs" ng-style="(item.IsTitle ? '' : 'color: transparent !important')" ng-click="vm.setTitle(item)">
							
						</button>
					</td>
					<td><a tooltip="{{ 'Id: ' + item.Id}}" ng-click="vm.createOrEditMetadata(item, item.Type)">{{item.StaticName}}</a></td>
				    <td class="text-nowrap">
				        {{item.Type}}
				        <!-- <button icon="pencil" type="button" class="btn btn-xs" ng-click="vm.createOrEditMetadata(item, item.Type)"> {{item.Type}}</button> -->
				    </td>
                    <td class="text-nowrap">
                        {{item.Metadata.All.Name}}
                    </td>
					<!--<td>-</td>-->
                    <td class="text-nowrap">
                        {{item.Metadata.All.Notes}}
                    </td>

					<td class="text-nowrap">
						<button icon="arrow-up" type="button" class="btn btn-xs" ng-disabled="$first" ng-click="vm.moveUp(item)"></button>
						<button icon="arrow-down" type="button" class="btn btn-xs" ng-disabled="$last" ng-click="vm.moveDown(item)"></button>
					</td>
					<td>
						<button icon="remove" type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)"></button>
					</td>
				</tr>
				<tr ng-if="!vm.items.length">
				    <td colspan="100" translate="General.Messages.NothingFound"></td>
				</tr>
			</tbody>
		</table>


	</div>

