<div class="modal-header">
    <button icon="remove" class="btn btn-default btn-square pull-right" type="button" ng-click="vm.close()"></button>
    <h3 class="modal-title" translate="Fields.TitleEdit"></h3>
</div>
<div class="modal-body">
    <table class="table table-hover table-manage-eav">
        <thead>
        <tr>
            <th translate="Fields.Table.Name" style="width: 270px"></th>
            <th translate="Fields.Table.DataType" style="width: 220px">Data Type</th>
            <th translate="Fields.Table.InputType" style="width: 220px">Input Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.items">
            <td>
                <input ng-model="item.StaticName" ng-required="true" class="input-lg" style="width: 250px" />
            </td>
            <td>
                <select class="input-lg" ng-model="item.Type" style="width: 200px"
                        ng-options="o as 'DataType.' + o + '.Choice' | translate for o in vm.types | orderBy: 'toString()' " 
                        ng-change="vm.resetSubTypes(item)">
                    <option>-- select --</option>
                </select>
            </td>
            <td>
                <select class="input-lg" ng-model="item.InputType" style="width: 200px"
                        ng-options="key as value for (key, value) in vm.possibleSubTypes(item) | orderBy: 'toString()' ">
                </select>
            </td> 
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button icon="ok" class="btn btn-lg btn-primary btn-square pull-left" type="button" ng-click="vm.ok()"></button>
</div>