<div class="wrap-float-label" ng-class="{'float-away': (fc[0] || fc).$modelValue.length || to.showDescription || to.focused}">
    <!-- some notes as to what is happening here
        the ng-class adds a "float-away" if the notes are shown or if the field has content
        -->
    <label for="{{id}}" class="control-label eav-label xtest xfloat-label {{to.labelSrOnly ? 'sr-only' : ''}} {{to.type}}"
           ng-if="to.label"
           ng-click="to.collapseField = !to.collapseField">
        {{to.label}}
        {{to.required ? '*' : ''}}
        <a tabindex="-1" ng-click="to.showDescription = !to.showDescription" href="javascript:void(0);" ng-if="to.description && to.description != ''">
            <i icon="info-sign" class="low-priority"></i>
        </a>
        <span class="btn-sm" ng-if="to.enableCollapseField">
            <span ng-if="to.collapseField" class="low-priority collapse-fieldgroup-button" icon="plus-sign"></span>
            <span ng-if="!to.collapseField" class="low-priority collapse-fieldgroup-button" icon="minus-sign"></span>
        </span>
    </label>
    <p ng-if="to.showDescription" class="bg-info" style="padding: 5px;" ng-bind-html="to.description">
    </p>
    <div ng-show="!(to.collapseField && to.enableCollapseField)">
        <formly-transclude></formly-transclude>
    </div>

    <div ng-if="debug.on">
        Field-Debug: {{fc}}
    </div>
</div>