<label for="{{id}}" class="control-label eav-label {{to.labelSrOnly ? 'sr-only' : ''}} {{to.type}}"
       ng-if="to.label"
       ng-click="to.collapseField = !to.collapseField">
    {{to.label}}
    {{to.required ? '*' : ''}}
    <a tabindex="-1" ng-click="to.showDescription = !to.showDescription" href="javascript:void(0);" ng-if="to.description && to.description != ''">
        <i class="eav-icon-info-circled low-priority"></i>
    </a>
    <span class="btn-sm" ng-if="to.enableCollapseField">
        <span ng-if="to.collapseField" class="eav-icon-plus-circled low-priority collapse-fieldgroup-button"></span>
        <span ng-if="!to.collapseField" class="eav-icon-minus-circled low-priority collapse-fieldgroup-button"></span>
    </span>
</label>