<div>
    <!-- just fyi: the ng-class adds a "float-away" if the notes are shown or if the field has content -->
    <div>
        <div class="inside" ng-include="'wrappers/eav-label-inside.html'"></div>
        <div ng-if="to.showDescription" class="info-wrapper">
            <p class="bg-info" style="padding: 5px;" ng-bind-html="to.description">
            </p>
        </div>

        <div ng-show="!(to.collapseField && to.enableCollapseField)">
            <formly-transclude></formly-transclude>
        </div>

        <div ng-if="debug.on">
            Field-Debug: {{fc}}
        </div>
    </div>
</div>