<div>
    <div class="form-ci-subtitle unhide-area" ng-click="toggle()">
        <span style="position: relative">
            <i class="icon-eav-side-marker decoration"></i>
            <span ng-if="to.collapseGroup" class="decoration state icon-eav-plus-circled low-priority collapse-fieldgroup-button"></span>
            <span ng-if="!to.collapseGroup" class="decoration state icon-eav-minus-circled low-priority collapse-fieldgroup-button hide-till-mouseover"></span>
        </span>
        {{to.label}}
    </div>
    <div ng-if="!to.collapseGroup" style="padding: 5px;" ng-bind-html="to.description">
    </div>
    <formly-transclude></formly-transclude>
</div>