@using System.IO
@{
    Layout = null;

    var ng = Request.QueryString["ng"];

    const bool useMinifiedAdmin = false;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EAV Management</title>

    @*Only load jQuery for the pipeline designer, others don't need it and it's much faster!*@
    @if (ng == "pipeline-designer")
{
    @*<script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.3.min.js"></script>*@

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
}

    @*Default Set / Standard Components for Admin UI*@
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />



    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>


    <link rel="/bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/promise-window/dist/promise-window.min.js"></script>

    @* Default Set / re-used components *@
    <script src='/eav/AngularServices/eav-configuration.js'></script>
    <script src="/eav/AngularServices/eav4Ng.js"></script>

    <script src="/dist/edit/tosic-eav-edit.annotated.js"></script>
    <link rel="stylesheet" href="/dist/edit/edit.min.css" />

    <!-- apiCheck is used by formly to validate its api -->
    <script src="/bower_components/api-check/dist/api-check.js"></script>
    <!-- This is the current state of master for formly core. -->
    <script src="/bower_components/angular-formly/dist/formly.min.js"></script>
    <!-- This is the current state of master for the bootstrap templates -->
    <script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>


    @if (useMinifiedAdmin)
    {
        <script src="/dist/admin/tosic-eav-admin.min.js"></script>
    }
    else
    {
        <script src="/dist/admin/tosic-eav-admin.annotated.js"></script>
    }
</head>
<body>


    @if (ng == "content")
    {
        <div eav-app="eavEditEntity" ng-include="'wrappers/edit-entity-wrapper.html'" ng-dependencies="InitParametersFromUrl,eavEditEntity"></div>
    }
    @if (ng == "content-types")
    {
        <div eav-app="ContentTypesApp" ng-include="'content-types/content-types.html'" ng-dependencies="InitParametersFromUrl,ContentTypesApp"></div>
    }
    @if (ng == "pipelines")
    {
        <div eav-app="PipelineManagement" ng-include="'pipelines/pipelines.html'" ng-dependencies="InitParametersFromUrl,PipelineManagement"></div>
    }
    @if (ng == "pipeline-designer")
    {


        <div eav-app="PipelineDesigner" ng-include="'pipelines/pipeline-designer.html'" ng-dependencies="InitParametersFromUrl,PipelineDesigner"></div>
        <link rel="stylesheet" href="/dist/admin/pipeline-designer.min.css">

        //Toaster
        <link rel="stylesheet" href="/bower_components/angularjs-toaster/toaster.min.css" />
        <script src="/bower_components/angularjs-toaster/toaster.min.js"></script>

        //jsPlumb
        <script src="/bower_components/jsplumb/dist/js/jquery.jsPlumb-1.7.2-min.js"></script>
    }




</body>

</html>
