@using System.IO
@{
    Layout = null;

    var ng = Request.QueryString["ng"];

    var path = "/src/ngAdmin/" + ng + "/" + ng + ".html";

    var useMinifiedAdmin = false;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EAV Management</title>
    @*<base href="/eav/ng/" />*@
</head>
<body>
@if(ng == "content-types") {
<div eav-app="ContentTypesApp" ng-include="'content-types/content-types.html'" ng-dependencies="InitParametersFromUrl,ContentTypesApp"></div>
}
@if (ng == "pipelines")
{
    <div eav-app="PipelineManagement" ng-include="'pipelines/pipelines.html'" ng-dependencies="InitParametersFromUrl,PipelineManagement"></div>

}

<link rel="stylesheet" href="/CSS/bootstrap.min.css"/>
<link rel="stylesheet" href="/CSS/bootstrap-theme.min.css"/>
<script src="/Scripts/jquery-1.9.1.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
<link rel="/bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="/bower_components/promise-window/dist/promise-window.min.js"></script>

@*@if (ng == "pipeline")
{
    <script src="/eav/PipelineDesigner/PipelineManagement.js"></script>
    <script src="/eav/PipelineDesigner/PipelineService.js"></script>
}*@

<script src='/eav/AngularServices/eavGlobalConfigurationProvider.js'></script>

<script src="/eav/AngularServices/eav4Ng.js"></script>
@*<script src="/eav/AngularServices/eavNgSvcs.js"></script>*@

@if (useMinifiedAdmin)
{
    <script src="/dist/admin/tosic-eav-admin.min.js"></script>

}
else
{
    <script src="/dist/admin/tosic-eav-admin.annotated.js"></script>

    @*if (ng == "permissions" || ng == "content-types" || ng == "content-items")
    {
        <script src="/eav/ng/@ng/@ng-services.js"></script>
        <script src="/eav/ng/@ng/@ng-controller.js"></script>
    }

    if (ng == "content-types")
    {
        <script src="/eav/ng/content-types/content-types-field-services.js"></script>
        <script src="/eav/ng/content-items/content-items-controller.js"></script>
        <script src="/eav/ng/content-items/content-items-services.js"></script>

        <script src="/eav/ng/permissions/permissions-services.js"></script>
        <script src="/eav/ng/permissions/permissions-controller.js"></script>
    }*@
}

</body>

</html>
