@using System.IO
@using System.ServiceModel.Dispatcher
@{
    Layout = null;

    var ng = Request.QueryString["ng"];

    var path = "/eav/ng/" + ng + "/" + ng + ".html";



}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Raw(File.ReadAllText(Server.MapPath(path)))
    </div>

    <link rel="stylesheet" href="../CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="../CSS/bootstrap-theme.min.css" />
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <link rel="/bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    @if (ng == "pipeline")
    {
        <script src="../eav/PipelineDesigner/PipelineManagement.js"></script>
        <script src="../eav/PipelineDesigner/PipelineService.js"></script>
    }

    <script src='../eav/AngularServices/eavGlobalConfigurationProvider.js'></script>

    <script src="../eav/AngularServices/eav4Ng.js"></script>
    <script src="../eav/AngularServices/eavNgSvcs.js"></script>

    @if (ng == "permissions" || ng == "content-types" || ng == "content-items")
    {
        <script src="/eav/ng/@ng/@ng-services.js"></script>
        <script src="/eav/ng/@ng/@ng-controller.js"></script>
    }

    @if (ng == "content-types")
    {
        <script src="/eav/ng/content-types/content-types-field-services.js"></script>
        <script src="/eav/ng/content-items/content-items-controller.js"></script>
        <script src="/eav/ng/content-items/content-items-services.js"></script>
    }

</body>

</html>
