.input-string-dropdown-wrapper .freetext-toggle {
    width:30px;
    color:black;
    border:none;
    background:none;
}
.input-string-dropdown-wrapper .freetext-toggle.active { }
.input-string-dropdown-wrapper { width: 100%; }
