.input-string-dropdown-wrapper .freetext-toggle {
    width:30px;
    text-indent:-9999px;
    border:none;
}
.input-string-dropdown-wrapper .freetext-toggle.active { background:blue; }
.input-string-dropdown-wrapper { width: 100%; }
