<div ng-click="vm.debug.autoEnableAsNeeded($event)" class="content-items-agnostic">
    <div class="modal-header">
        <button class="btn btn-default btn-square btn-subtle pull-right" type="button" ng-click="vm.close()"><i icon="remove"></i></button>
        <h3 class="modal-title" translate="Content.Manage.Title"></h3>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-primary btn-square" ng-click="vm.add()"><i icon="plus"></i></button>
        <button type="button"
                class="btn btn-default btn-square"
                uib-tooltip="{{ 'ContentTypes.Buttons.Export' | translate }}"
                ng-click="vm.openExport()">
            <i icon="export"></i>
        </button>
        <button icon="import" type="button" class="btn btn-default btn-square" ng-click="vm.importItem.show = !vm.importItem.show"></button>
        <button ng-if="vm.debug.on" type="button" class="btn btn-warning btn-square" ng-click="vm.addMetadata()"><i class="eav-icon-tag"></i></button>
	    <button ng-if="vm.debug.on" type="button" class="btn btn-warning btn-square" ng-click="vm.refresh()"><i icon="repeat"></i></button>
        <button ng-if="vm.debug.on" type="button" class="btn btn-warning btn-square" ng-click="vm.debugFilter()"><i icon="filter"></i></button>
        
        <div ng-if="vm.importItem.show">
            <h3>Quick-Import a single JSON Item</h3>
            <div ng-switch="vm.importItem.viewState">
                <div ng-switch-when="1">

                    <formly-form form="vm.importItem.form"
                                 model="vm.importItem.formValues"
                                 fields="vm.importItem.formFields">
                    </formly-form>
                    <div>
                        <button type="button" class="btn btn-primary pull-left"
                                ng-click="vm.importItem.save()"
                                ng-disabled="!vm.importItem.formValues.File || !vm.importItem.formValues.File.filename"
                                translate="Content.Import.Commands.Import">
                        </button>
                    </div>
                </div>
                <div ng-switch-when="2">
                    Saving...
                </div>
                <div ng-switch-when="3">
                    <i class="eav-icon-ok"></i> 
                    Import completed! 
                    <span ng-click="vm.importItem.reset()"><i class="eav-icon-cancel"></i></span>
                </div>
            </div>
            <br />
            <br/>
        </div>


        <div ag-grid="vm.gridOptions" class="ag-grid-wrapper"></div>
	    
        <show-debug-availability class="pull-right" ></show-debug-availability>
    </div>
</div>