<div ng-controller="List as vm" ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <h3 class="modal-title" translate="ContentTypes.Title"></h3>
    </div>
    <div class="modal-body">
        <!-- Buttons on top -->
        <button title="{{ 'General.Buttons.Add' | translate }}" type="button" class="btn btn-primary btn-square" ng-click="vm.edit()"><i icon="plus"></i></button>


        <span class="btn-group" ng-if="vm.debug.on">
            <button title="{{ 'General.Buttons.Refresh' | translate }}" type="button" class="btn btn-warning btn-square" ng-click="vm.refresh()"><i icon="repeat"></i></button>
            <button title="todo" type="button" class="btn btn-warning btn-icon" ng-click="vm.createGhost()"><i class="eav-icon-ghost"></i></button>
            <button title="{{ 'ContentTypes.Buttons.ChangeScope' | translate }}" type="button" class="btn btn-warning btn-square" ng-click="vm.changeScope()"><i icon="record"></i></button>
            <button title="{{ 'General.Buttons.System' | translate }}" type="button" class="btn btn-warning btn-square" ng-click="vm.liveEval()"><i icon="flash"></i></button>
        </span>
        <!-- Table of content types for editing -->
        <table class="table table-hover" style="table-layout: fixed; width: 100%">
            <thead>
            <tr>
                <!--<th translate="ContentTypes.TypesTable.Items" class="col-id"></th>-->
                <th translate="ContentTypes.TypesTable.Name" style="width: 50%"></th>
                <th class="mini-btn-1"></th>
                <th translate="ContentTypes.TypesTable.Description" style="width: 50%"></th>
                <th translate="ContentTypes.TypesTable.Fields" class="mini-btn-2"></th>
                <th translate="ContentTypes.TypesTable.Actions" class="mini-btn-5"></th>
                <th class="mini-btn-1"> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="vm.items.isLoaded" ng-repeat="item in vm.items | orderBy:'Name'" class="clickable-row" ng-click="vm.editItems(item)">
                <!--<td style="text-align: center" class="clickable"> {{item.Items}} </td>-->
                <td class="clickable">
                    <span class="text-nowrap hide-overflow-text" style="max-width: 400px" uib-tooltip="{{item.Label}} ({{item.Name}})">{{item.Label}} <span ng-if="item.Name != item.Label">({{item.Name}})</span></span>
                </td>
                <td class="clickable" style="text-align: right">
                    <div class="badge pull-right badge-primary hover-pair" stop-event="click" ng-click="vm.addItem(item.StaticName)"><span class="hover-default">{{item.Items}}</span><span class="hover-hover eav-icon-plus"></span></div></td>
                <td class="clickable">
                    <div class="text-nowrap hide-overflow-text" style="max-width: 500px" uib-tooltip="{{item.Description}}">{{item.Description}}</div>
                </td>
                <td stop-event="click">
                    <button ng-if="!item.UsesSharedDef" type="button" class="btn btn-xs" style="width: 60px" ng-click="vm.editFields(item)">
                        <i class="eav-icon-fields"></i>&nbsp;<span style="width: 22px; text-align: right">{{item.Fields}}</span>
                    </button>
                    <button ng-if="item.UsesSharedDef" uib-tooltip="{{ 'ContentTypes.Messages.SharedDefinition' | translate:item }}" type="button" class="btn btn-default btn-xs" style="width: 60px">
                        <i class="eav-icon-ghost"></i>&nbsp;<span style="width: 22px; text-align: right">{{item.Fields}}</span>
                    </button>
                </td>

                <td class="text-nowrap" stop-event="click">
                    <span class="btn-group">
                        <button uib-tooltip="{{ 'General.Buttons.Rename' | translate }} - {{  'ContentTypes.Messages.Type' + (item.UsesSharedDef ? 'Shared' : 'Own')  | translate:item }}" type="button" class="btn btn-xs btn-square" ng-click="vm.edit(item)">
                            <i icon="heart{{ (item.UsesSharedDef ? '-empty' : '') }}"></i>
                        </button>
                        <button uib-tooltip="{{ 'General.Buttons.Metadata' | translate }}" type="button" class="btn btn-xs btn-square" ng-click="vm.createOrEditMetadata(item)">
                            <i class="eav-icon-tag"></i>
                        </button>
                        <button uib-tooltip="{{ 'ContentTypes.Buttons.Export' | translate }}" type="button" class="btn btn-xs btn-square" ng-click="vm.openExport(item)">
                            <i icon="export"></i>
                        </button>
                        <button uib-tooltip="{{ 'ContentTypes.Buttons.Import' | translate }}" type="button" class="btn btn-xs btn-square" ng-click="vm.openImport(item)">
                            <i icon="import"></i>
                        </button>

                        <button type="button" class="btn btn-xs btn-square"
                                ng-click="vm.permissions(item)"
                                ng-if="vm.enableAppFeatures && vm.isGuid(item.StaticName)">
                            <i icon="user"></i>
                        </button>

                        <!-- new REST stuff, app-only -->
                        <!-- todo: ng-if="vm.debug.on" -->
                        <button type="button" class="btn btn-xs btn-square"
                                ng-if="vm.enableAppFeatures"
                                ng-click="vm.openRest(item)"
                                >
                            {&#8942;}
                        </button>
                    </span>
                </td>
                <td stop-event="click">
                    <button icon="remove" type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)"></button>
                </td>
            </tr>
            <tr ng-if="!vm.items.length">
                <td colspan="100">{{ 'General.Messages.Loading' | translate }} / {{ 'General.Messages.NothingFound' | translate }}</td>
            </tr>
            </tbody>
        </table>
        <show-debug-availability class="pull-right"></show-debug-availability>
    </div>
    <div ng-if="vm.debug.on">

        <h3>Notes / Debug / ToDo</h3>
        <ol>
            <li>get validators to work on all dialogs</li>
        </ol>
    </div>
</div>
