<div class="ng-cloak">
    <div ng-controller="PipelineDesignerController as vm" ng-click="vm.debug.autoEnableAsNeeded($event)">
        <div id="pipelineContainer">
            <div ng-repeat="dataSource in queryDef.data.DataSources"
                 datasource
                 guid="{{dataSource.EntityGuid}}"
                 id="dataSource_{{dataSource.EntityGuid}}"
                 class="dataSource"
                 ng-attr-style="top: {{dataSource.VisualDesignerData.Top}}px; left: {{dataSource.VisualDesignerData.Left}}px">
                <div class="configure" ng-click="configureDataSource(dataSource)" title="Configure this DataSource" ng-if="!dataSource.ReadOnly">
                    <i class="eav-icon-settings"></i>
                </div>
                <i class="type-info {{vm.typeInfo(dataSource).icon}}" title="{{vm.typeInfo(dataSource).notes}}"></i>
                <div class="name noselect" title="Click to edit the Name" ng-click="editName(dataSource)">
                    {{dataSource.Name || '(unnamed)'}}
                    <span class="show-hover-inline eav-icon-pencil"></span>
                </div><br />
                <div class="description noselect" title="Click to edit the Description" ng-click="editDescription(dataSource)">
                    {{dataSource.Description}}
                    <span class="show-hover-inline eav-icon-pencil"></span>
                </div><br />
                <div class="typename" ng-attr-title="{{dataSource.PartAssemblyAndType}}">
                    Type: {{dataSource.PartAssemblyAndType | typename: 'className'}}
                </div>
                <div class="add-endpoint" title="Drag a new Out-Connection from here" ng-if="!dataSource.ReadOnly">
                    <i class="new-connection eav-icon-up-dir"></i>
                </div>
                <div class="delete eav-icon-cancel" title="Delete this DataSource" ng-click="remove($index)" ng-if="!dataSource.ReadOnly"></div>
            </div>
        </div>
        <div class="actions panel panel-default">
            <div class="panel-heading">
                <span class="pull-left">Actions</span>
                <a href="http://2sxc.org/help" class="btn btn-info btn-xs pull-right" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
            </div>
            <div class="panel-body">
                <div class="btn-group" role="group" style="width: 100%">
                    <button type="button" class="btn btn-primary btn-block"
                            title="Query the Data of this Pipeline. Note that it doesn't save changes - so if you have unexpected behaviour after rewiring - save first"
                            ng-click="queryPipeline(save)"
                            style="width: 65%">
                        <span class="glyphicon glyphicon-play"></span> Query
                    </button>
                    <button type="button" class="btn btn-primary btn-block" title="Save & Query"
                            ng-click="queryPipeline(true)"
                            style="width: 35%; margin-top: 4px">
                        <span icon="ok"></span> &amp;
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </div>

                <select class="form-control" ng-model="addDataSourceType" ng-disabled="queryDef.readOnly" ng-change="vm.addSelectedDataSource()" ng-options="d.ClassName for d in queryDef.data.InstalledDataSources | filter: {allowNew: '!false'} | orderBy: 'ClassName'">
                    <option value="">-- Add DataSource --</option>
                </select>
                <button type="button" class="btn btn-default btn-block" ng-click="editPipelineEntity()"><span class="glyphicon glyphicon-pencil"></span> Test Parameters</button>
                <button type="button" class="btn btn-primary btn-block" ng-disabled="queryDef.readOnly" ng-click="savePipeline()">
                    <span icon="ok"></span> Save
                </button>
                <br/>

                <!-- show warnings if detected -->
                <div ng-if="vm.warnings.length">
                    <div><strong>Warnings</strong></div>
                    <ol>
                        <li ng-repeat="warn in vm.warnings">{{warn}}</li>
                    </ol>
                    <br />
                </div>
                <br/>
                <button type="button" class="btn btn-info btn-xs" ng-click="toggleEndpointOverlays()"><span class="glyphicon glyphicon-info-sign"></span> {{showEndpointOverlays ? 'Hide' : 'Show' }} Overlays</button>
                <button type="button" class="btn btn-info btn-xs" ng-click="repaint()"><span class="glyphicon glyphicon-repeat"></span> Repaint</button>
                <button type="button" class="btn btn-info btn-xs" ng-if="vm.debug.on" ng-click="toogleDebug()"><span class="glyphicon glyphicon-info-sign"></span> {{debug ? 'Hide' : 'Show'}} Debug Info</button>

                <show-debug-availability class="pull-right"></show-debug-availability>
            </div>
        </div>
        <toaster-container></toaster-container>
        <pre ng-if="debug">{{queryDef.data | json}}</pre>
    </div>
</div>
