<div class="eav-entityselect">
    <div ui-tree="options" data-empty-placeholder-enabled="false">
        <ol ui-tree-nodes ng-model="chosenEntities">
            <li ng-repeat="item in chosenEntities" ui-tree-node class="eav-entityselect-item">
                <div ui-tree-handle>
                    <i icon="move" title="{{ 'FieldType.Entity.DragMove' | translate }}" class="pull-left eav-entityselect-sort" ng-show="to.settings.Entity.AllowMultiValue"></i>
                    <span title="{{getEntityText(item) + ' (' + item + ')'}}">{{getEntityText(item)}}</span>
                    <span class="eav-entityselect-item-actions">
                        <span data-nodrag title="{{ 'FieldType.Entity.Edit' | translate }}" ng-click="edit(item)">
                            <i icon="pencil"></i>
                        </span>
                        <span data-nodrag title="{{ 'FieldType.Entity.Remove' | translate }}" ng-click="remove(this)" class="eav-entityselect-item-remove">
                            <i icon="remove"></i>
                        </span>
                    </span>
                </div>
            </li>
        </ol>
    </div>

    <select class="eav-entityselect-selector form-control input-lg" ng-model="selectedEntity" ng-change="addEntity()" ng-show="to.settings.merged.AllowMultiValue || chosenEntities.length < 1">
        <option value="" translate="FieldType.Entity.Choose"></option>
        <option value="new" ng-if="createEntityAllowed()" translate="FieldType.Entity.New"></option>
        <option ng-repeat="item in availableEntities" ng-disabled="chosenEntities.indexOf(item.Value) != -1" value="{{item.Value}}">{{item.Text}}</option>
    </select>

</div>