<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="EAVContext" connectionString="metadata=res://*/EAVContext.csdl|res://*/EAVContext.ssdl|res://*/EAVContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Srv-DevWeb-01\ToFlex04;Initial Catalog=EAVLibrary;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>