<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<appSettings>
		<add key="vs:enableBrowserLink" value="false"/>
	</appSettings>
	<connectionStrings>
		<add connectionString="Server=Srv-DevWeb-01\ToFlex04;Database=EAVLibrary;Integrated Security=true" name="SiteSqlServer" providerName="System.Data.SqlClient"/>
		<add name="EavContext" connectionString="metadata=res://*/EavContext.csdl|res://*/EavContext.ssdl|res://*/EavContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Srv-DevWeb-01\ToFlex04;Initial Catalog=EAVLibrary;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5"/>
		<trace enabled="true"/>
	</system.web>
	<!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="ToSic.Eav">
      <register type="ToSic.Eav.DataSources.Caches.ICache, ToSic.Eav" mapTo="ToSic.Eav.DataSources.Caches.DNNFarmCache, ToSic.Eav.Professional" />
    </container>
  </unity>-->
</configuration>