<div dropdown is-open="status.isopen" class="eav-localization" style="z-index:{{1000 - index}};">
	<a class="eav-localization-lock" ng-click="vm.actions.toggleTranslate();" ng-if="vm.isDefaultLanguage()" title="{{vm.tooltip()}}" ng-class="{ 'eav-localization-lock-open': !options.templateOptions.disabled }" dropdown-toggle>
        {{vm.infoMessage()}} <i class="glyphicon glyphicon-globe"></i>
	</a>
	<ul class="dropdown-menu multi-level pull-right eav-localization-dropdown" role="menu" aria-labelledby="single-button">
		<li role="menuitem"><a ng-disabled="vm.enableTranslate()" ng-click="vm.actions.translate()" translate="LangMenu.Unlink"></a></li>
		<li role="menuitem"><a ng-click="vm.actions.linkDefault()" translate="LangMenu.LinkDefault"></a></li>
		<li role="menuitem" class="dropdown-submenu">
			<a href="#" translate="LangMenu.GoogleTranslate"></a>
            <ul class="dropdown-menu">
                <li ng-repeat="language in vm.languages.languages" class="disabled" role="menuitem">
                    <a ng-click="vm.actions.autoTranslate(language.key)" title="{{language.name}}" href="#">{{language.key}}</a>
                </li>
            </ul>
		</li>
        <li role="menuitem" class="dropdown-submenu">
            <a href="#" translate="LangMenu.Copy"></a>
            <ul class="dropdown-menu">
                <li ng-repeat="language in vm.languages.languages" ng-class="{ disabled: options.templateOptions.disabled || !vm.hasLanguage(language.key) }" role="menuitem">
                    <a ng-click="vm.actions.copyFrom(language.key)" title="{{language.name}}" href="#">{{language.key}}</a>
                </li>
            </ul>
        </li>
        <li role="menuitem" class="dropdown-submenu">
            <a href="#" translate="LangMenu.Use"></a>
            <ul class="dropdown-menu">
                <li ng-repeat="language in vm.languages.languages" ng-class="{ disabled: !vm.hasLanguage(language.key) }" role="menuitem">
                    <a ng-click="vm.actions.useFrom(language.key)"  title="{{language.name}}" href="#">{{language.key}}</a>
                </li>
            </ul>
        </li>
        <li role="menuitem" class="dropdown-submenu">
            <a href="#" translate="LangMenu.Share"></a>
            <ul class="dropdown-menu">
                <li ng-repeat="language in vm.languages.languages" ng-class="{ disabled: !vm.hasLanguage(language.key) }" role="menuitem">
                    <a ng-click="vm.actions.shareFrom(language.key)"  title="{{language.name}}" href="#">{{language.key}}</a>
                </li>
            </ul>
        </li>
        <!-- ToDo: All fields -->
		<!--<li class="divider"></li>
		<li role="menuitem"><a href="#">Separated link</a></li>-->
	</ul>
</div>