.eav-localization { }
.eav-localization-lock { float: right; display: inline-block; }
.eav-localization-lock-open { color: #00ff7f; }
.eav-localization-dropdown { margin-top: 20px; }
.eav-localization:hover .eav-localization-dropdown { display: block; }