
/* Include google font - Roboto */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i';

/* must correct checkbox labels */

.checkbox label, .radio label {
    padding-left: 15px;
}


.checkbox {
    height: 34px;
}

.switch.checked.tosic-green {
    background: #96d500;
    background-color: #96D500;
    border-color: #96d500;
}

.switch.checked.tosic-blue {
    background: #0087F4;
    background-color: #0087F4;
    border-color: #0087F4;
}

.save-published-icon {
    font-size: 24px; 
}
.save-published-icon i {
    position: relative;
    top: 9px;
}

.collapse-entity-button {
    position: relative;
    top: 0;
    padding-top: 8px;    
}
.hide-till-mouseover {
    opacity: 0;
    color: #0087F4;
}

.unhide-area:hover .hide-till-mouseover {
    opacity: 1;
}

.collapse-fieldgroup-button {
    position: relative;
    left: 5px;
}

.angular-google-map-container { height: 400px; }

/* shrink space a bit in input boxes as it's too large by default '*/
.input-lg {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

/* This should make sure the entity-edit dialog is always 100% screen width on small screens, but not lager than 1000px */
.modal-ent-edit { 
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

[visually-disabled='true'] { opacity: 0.3; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.ng-touched.ng-invalid { border-color:red; }


/* the new round buttons on any field */
button.icon-field-button {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    padding-right: 10px;
    padding-left: 8px;
    border-color: transparent!important;
    background-color: transparent!important;
    font-size: 24px;
    text-indent: -3px;
}
button.icon-field-button:hover, button.icon-field-button:focus{
    border-color: transparent !important;
    background-color: #0087F4!important;
    color: white!important;
}

button.icon-field-button.btn-primary {
    color: #0087F4;
}




/* main container around all input-forms */
.form-container-multi {
    padding-left: 40px;
    padding-right: 40px;
}


.input-hyperlink-default .input-lg { padding-bottom:0px; }

/* Titles and title decorations */
.form-ci-title {
    color: #0087F4;
    font-size: 28px;
    font-family: Roboto;
    font-weight:300;
    height: 40px;
    cursor: pointer;
}
.form-ci-title .decoration {
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: #0087F4;
    float: left;
    position: absolute;
    left: -55px;
    top:1px;
}
.form-ci-title .decoration.state {
    color: white; 
    font-size: 12px; 
    padding-top: 7px;
    padding-left: 12px;
}

.form-ci-subtitle {
    color: #0087F4;
    font-family: Roboto;
    font-weight:300;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}
.form-ci-subtitle .decoration {
    position: absolute;
    left: -48px;
    color: #0087F4;
    font-size: 16px;
}
.form-ci-subtitle .decoration.state {
    font-size: 12px;
    left: -23px;
}

/* grid per field */

.form-field-grid-keeper {
    min-height: 48px;
}

/* labels on fields */
label.eav-label {
    font-size: 14px;
    font-family: Roboto;
    font-weight:300;
    padding-right:150px;
    padding-top: 2px;
    color: #888;
}


/* fields with preview */

.after-preview {
    height: 64px;
}
/* input fields new */ 
input.material {
    margin-top:11px;
    font-size:20px;
    height:auto;
}

/* drop-downs */
select.material {
    height: 46px;
    font-size: 18px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    padding-top: 14px;
}

textarea.material {
    font-size: 20px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    padding-top: 12px;
}

/* disabled - try to override the default bootstrap... */
.form-control[disabled], .form-control[readonly], .fieldset[disabled] .form-control {
    background: transparent !important;
    border-bottom: 0;
}


/* Side-by-side on large screens */
@media only screen and (max-width: 799px) {
    .responsive-optional {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .responsive-priority {
        /*max-width: 75%;*/
        float: right;
        width: 75%;
    }

    .responsive-optional {
        display: inline-block;
        width: 25%;
    }


    .responsive-priority .wrap-float-label .eav-label {
        top: 12px;
    }

    .responsive-priority .eav-label {
        display: none;
    }
    .responsive-priority div.wrap-float-label {
        padding-top: 0;
    }

    .thumbnail-before-input.icon-preview {
        top: 0!important;
    }
}

.responsive-optional .eav-label {
    color: #888888;
    font-size: 20px!important;
    padding: 0;
    padding-right: 10px;
    padding-top: 14px;
    word-break:break-all;
}

.no-label-space .responsive-optional .eav-label {
    padding-top: 0;
}


/* debug helper classes */
.debug {
    border: 1px black dashed;
}