
/* field grouping */

/*.group-entity {
    border-right-color: lightgray;
    border-right-style: solid;
    border-right-width: 2px;
}*/

.group-field-set {
    /*border-right-color: blue;
    border-right-style: solid;
    border-right-width: 2px;*/
}

/* must correct checkbox labels */

.checkbox label, .radio label {
    padding-left: 15px;
}


.checkbox {
    height: 34px;
}

.switch.checked.tosic-green {
    background: #96d500;
    background-color: #96D500;
    border-color: #96d500;
}

.switch.checked.tosic-blue {
    background: #0087F4;
    background-color: #0087F4;
    border-color: #0087F4;
}

.save-published-icon {
    font-size: 24px; 
}
.save-published-icon i {
    position: relative;
    top: 9px;
}

.collapse-entity-button {
    position: relative;
    top: 0;
    padding-top: 8px;
    background-color: white;
    color: white;
}

.clickable:hover .collapse-entity-button {
    color: #0087F4;
}

.collapse-fieldgroup-button {
    position: relative;
    left: 5px;
}

.angular-google-map-container { height: 400px; }

/* shrink space a bit in input boxes as it's too large by default '*/
.input-lg {
     padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

/*.input-lg {
    
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    xborder-bottom-left-radius: 3px;
    xborder-bottom-right-radius: 3px;
    padding-left: 0;
    xpadding-bottom: 0;
    xpadding-top: 0;
    xheight: 25px;
    padding-right: 2px;

}*/

/* This should make sure the entity-edit dialog is always 100% screen width on small screens, but not lager than 1000px */
.modal-ent-edit { 
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

[visually-disabled='true'] { opacity: 0.3; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.ng-touched.ng-invalid { border-color:red; }


/* the new round buttons on any field */
.btn-lg.icon-field-button {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    padding-right: 10px;
    padding-left: 8px;
}