<div ng-if="vm.items != null">
    <eav-language-switcher></eav-language-switcher>

    <div ng-repeat="p in vm.items">
        <eav-edit-entity-form entity="p.Entity" register-edit-control="vm.registerEditControl"></eav-edit-entity-form>
    </div>


    <span icon="eye-open" tooltip="{{ 'Status.Published' | translate }}"></span>

    <button ng-disabled="!vm.isValid()" ng-click="vm.save()" class="btn btn-primary submit-button">
        <span icon="ok" tooltip="{{ 'Button.Save' | translate }}"></span>
    </button>


    <button class="btn pull-right">
        <span icon="option-horizontal" tooltip="{{ 'Button.MoreOptions' | translate }}"></span>
    </button>

    <button class="btn pull-right" ng-click="vm.saveAndKeepOpen()">
        <span icon="check" tooltip="{{ 'Button.SaveAndKeepOpen' | translate }}"></span>
    </button>
    
</div>