<div ng-if="vm.items != null" ng-click="vm.debug.autoEnableAsNeeded($event)">
    <eav-language-switcher></eav-language-switcher>

    <div ng-repeat="p in vm.items">
        <h3 class="clickable">
            <span ng-click="p.collapse = !p.collapse">
                {{p.Header.Title ? p.Header.Title : 'Edit'}}
            </span>
            <span ng-if="p.Header.Group.SlotCanBeEmpty">
                <span ng-if="p.Header.Group.SlotIsEmpty" icon="ban-circle" ng-click="vm.toggleSlotIsEmpty(p)" tooltip="this item is locked and will stay empty/default. The values are shown for your convenience. Click here to unlock if needed."></span>
                <span ng-if="!p.Header.Group.SlotIsEmpty" icon="ok-circle" ng-click="vm.toggleSlotIsEmpty(p)" tooltip="this item is open for editing. Click here to lock / remove it and revert to default."></span>
            </span>
            <span class="pull-right clickable" ng-click="p.collapse = !p.collapse">
                <span ng-if="p.collapse" icon="plus-sign"></span>
                <span ng-if="!p.collapse" icon="minus-sign"></span>
            </span>
        </h3>
        <eav-edit-entity-form entity="p.Entity" header="p.Header" register-edit-control="vm.registerEditControl" ng-hide="p.collapse"></eav-edit-entity-form>
    </div>



    <button ng-disabled="!vm.isValid()" ng-click="vm.save()" class="btn btn-default submit-button">
        <span icon="ok" tooltip="{{ 'Button.Save' | translate }}"></span>
    </button>
    <button class="btn" ng-click="vm.saveAndKeepOpen()">
        <span icon="check" tooltip="{{ 'Button.SaveAndKeepOpen' | translate }}"></span>
    </button>

    <!-- note: published status will apply to all - so the first is taken for identification if published -->
    <span ng-if="vm.willPublish" icon="eye-open" tooltip="{{ 'Status.Published' | translate }} - {{ 'Message.WillPublish' | translate }}" ng-click="vm.togglePublish()"></span>
    <span ng-if="!vm.willPublish" icon="eye-close" tooltip="{{ 'Status.Unpublished' | translate }} - {{ 'Message.WontPublish' | translate }}" ng-click="vm.togglePublish()"></span>
    
    <span ng-if="vm.debug.on">
        <button tooltip="debug" icon="zoom-in" class="btn" ng-click="vm.showDebugItems = !vm.showDebugItems"></button>
    </span>

    <span class="pull-right" ng-if="false">
        todo: show more buttons...
        <button class="btn">
            <span icon="option-horizontal" tooltip="{{ 'Button.MoreOptions' | translate }}"></span>
        </button>

    </span>
    <div ng-if="vm.debug.on && vm.showDebugItems">
        <pre>{{ vm.items | json }}</pre>
    </div>
</div>