<div class="modal-header">
    <button class="btn pull-right" type="button" icon="remove" ng-click="vm.close()"></button>
    <h3 class="modal-title">Edit entity</h3>
</div>
<div class="modal-body">
    <!--<div>
        <eav-language-switcher></eav-language-switcher>

        <eav-edit-entity content-type-name="{{vm.contentTypeName}}" entity-id="{{vm.entityId}}" register-edit-control="vm.registerEditControl"></eav-edit-entity>
        <button ng-disabled="!vm.isValid()" ng-click="vm.save()" class="btn btn-primary submit-button">Save</button>
    </div>-->
    <eav-edit-entities edit-package-request="vm.editPackageRequest" after-save-event="vm.afterSave"></eav-edit-entities>
</div>