<div class="modal-header">
    <button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>
    <h3 class="modal-title" translate="Content.Manage.Title"></h3>
</div>
<div class="modal-body">
    <button icon="plus" type="button" class="btn btn-default" ng-click="vm.add()"></button>
    <button icon="repeat" type="button" class="btn" ng-click="vm.refresh()"></button>

    <div style="overflow: auto">
        <table class="table table-striped table-hover table-manage-eav">
            <thead>
            <tr>
                <th translate="Content.Manage.Table.Id" class="col-id"></th>
                <th translate="Content.Manage.Table.Status" style="width: 60px"></th>
                <th translate="Content.Manage.Table.Title" style="width: 200px"></th>
                <th translate="Content.Manage.Table.Actions" class="mini-btn-2"></th>
                <th ng-repeat="col in vm.dynamicColumns" style="width: 10%">{{col.StaticName}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items">
                <td class="text-nowrap" style="text-align: right">
                    <span tooltip="Id: {{item.Id}}
RepoId: {{item.RepositoryId}}
Guid: {{item.Guid}}">{{item.RepositoryId}}</span>
                </td>
                <td class="text-nowrap">
                    <span class="glyphicon" ng-class="{'glyphicon-ok-circle': item.IsPublished, 'glyphicon-ban-circle' : !item.IsPublished && !item.Published, 'glyphicon-record' : !item.IsPublished && item.Published }" tooltip="{{ 'Content.Publish.' + (item.IsPublished ? 'PnV': item.Published ? 'DoP' : 'D') | translate }}"></span>
                    <span icon="{{ item.Draft ? 'paperclip' : item.Published ? 'export' : '' }}" tooltip="{{ (item.Draft ? 'Content.Publish.HD' :'') | translate:'{ id: item.Draft.RepositoryId}' }}
{{ (item.Published ? 'Content.Publish.HP' :'') | translate }} #{{ item.Published.RepositoryId }}"></span>
                    <span ng-if="item.Metadata" tooltip="Metadata for type {{ item.Metadata.TargetType}}, id {{ item.Metadata.KeyNumber }}{{ item.Metadata.KeyString }}{{ item.Metadata.KeyGuid }}" icon="tag"></span>
                </td>
                <td class="text-nowrap">
                    <div class="hide-overflow-text" style="height: 20px; width: 200px" tooltip="{{item.Title}}">
                        <a ng-click="vm.edit(item)">{{item.Title}}{{ (!item.Title ? 'Content.Manage.NoTitle':'') | translate }}</a>
                    </div>
                </td>
                <td class="text-nowrap">
                    <button icon="duplicate" type="button" class="btn btn-xs" ng-click="vm.openDuplicate(item)" tooltip="{{ 'General.Buttons.Copy' | translate }}"></button>
                    <button icon="remove" type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)" tooltip="{{ 'General.Buttons.Delete' | translate }}"> </button>
                </td>
                <td ng-repeat="col in vm.dynamicColumns" width="10%">
                    <div style="height: 20px; max-width: 300px;" class="hide-overflow-text" tooltip="{{item[col.StaticName]}}">{{item[col.StaticName].toString().substring(0,25)}}</div>
                </td>

            </tr>
            <tr ng-if="!vm.items.length">
                <td colspan="100" translate="General.Messages.NothingFound"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>