<div class="modal-header">
    <button class="btn pull-right" type="button" icon="remove" ng-click="vm.close()"></button>
    <h3 class="modal-title" translate="Content.Import.Title" translate-values="{currentStep: vm.currentStep}"></h3>
</div>

<div class="modal-body">

    <div ng-switch="vm.currentStep">

        <div ng-switch-when="1">
            <p translate="Content.Import.Help"></p>
            <formly-form form="vm.form" model="vm.formValues" fields="vm.formFields">
                <p class="text-warning" translate="Content.Import.Messages.BackupContentBefore"></p>
                <button type="button" class="btn btn-primary" ng-click="vm.evaluateContent(); vm.currentStep = 2" ng-disabled="!vm.form.$valid" translate="Content.Import.Commands.Preview"></button>
                <button type="button" class="btn btn-default" ng-click="vm.close()" translate="Content.Import.Commands.Close"></button>
            </formly-form>
        </div>

        <div ng-switch-when="2">
            <p ng-show="vm.evaluation.Succeeded">
                <h4>{{Content.Import.Evaluation.Detail.Title}}</h4>
                <ul>
                    <li></li>
                </ul>
            </p>
            <p ng-hide="vm.evaluation.Succeeded">
                <h4>{{ "Content.Import.Evaluation.Error.Title" | translate }} '{{vm.formValues.File.filename}}'</h4>
                <ul>
                    <li ng-repeat="error in vm.evaluation.Details">
                        <div><span translate="Content.Import.Evaluation.Error.Codes.{{error.ErrorCode}}"></span></div>
                        <div ng-if="error.ErrorDetail"><i>{{ "Content.Import.Evaluation.Error.Detail" | translate }}: {{error.ErrorDetail}}</i></div>
                        <div ng-if="error.LineNumber"><i>{{ "Content.Import.Evaluation.Error.LineNumber" | translate }}: {{error.LineNumber}}</i></div>
                        <div ng-if="error.LineDetail"><i>{{ "Content.Import.Evaluation.Error.LineDetail" | translate }}: {{error.LineDetail}}</i></div>
                    </li>
                </ul>
            </p>
            <button type="button" class="btn btn-primary" ng-click="vm.importContent(); vm.currentStep = 3" translate="Content.Import.Commands.Import" ng-show="vm.evaluation.Succeeded"></button>
            <button type="button" class="btn btn-default" ng-click="vm.currentStep = 1" translate="Content.Import.Commands.Back"></button>
            <button type="button" class="btn btn-default" ng-click="vm.close()" translate="Content.Import.Commands.Close"></button>
        </div>

        <div ng-switch-when="3">
            <p>
                <span ng-show="vm.import.Succeeded" translate="Content.Import.Messages.ImportSucceeded"></span>
                <span ng-hide="vm.import.Succeeded" translate="Content.Import.Messages.ImportFailed"></span>
            </p>
            <button type="button" class="btn btn-primary" ng-click="vm.currentStep = 1" translate="Content.Import.Commands.Back"></button>
            <button type="button" class="btn btn-default" ng-click="vm.close()" translate="Content.Import.Commands.Close"></button>
        </div>

    </div>

    <hr />
    <pre>{{vm.formValues | json}}</pre>
</div>