<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <!-- HEADER -->
    <div class="modal-header">
        <button class="btn pull-right" type="button" icon="remove" ng-click="vm.close()"></button>
        <h3 class="modal-title"><span  translate="Content.Import.Title"></span> <span ng-show="vm.viewStateSelected > 0" translate="Content.Import.TitleSteps" translate-values="{step: vm.viewStateSelected}"></span></h3>
    </div>
    <!-- END HEADER -->

    <div ng-switch="vm.viewStateSelected">

        <!-- FORM -->
        <div ng-switch-when="1">
            <div class="modal-body">
                <div translate="Content.Import.Help"></div>
                <formly-form form="vm.form" model="vm.formValues" fields="vm.formFields"></formly-form>
                <div class="text-warning" translate="Content.Import.Messages.BackupContentBefore"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="vm.evaluateContent()" ng-disabled="!vm.formValues.File || !vm.formValues.File.filename" translate="Content.Import.Commands.Preview"></button>
            </div>
        </div>
        <!-- END FORM -->


        <!-- WAITING -->
        <div ng-switch-when="0">
            <div class="modal-body"> {{'Content.Import.Messages.WaitingForResponse' | translate}}
            </div>
        </div>
        <!-- END WAITING -->


        <!-- EVALUATION RESULT -->
        <div ng-switch-when="2">
            <div class="modal-body">
                <!-- DETAILS / STATISTICS -->
                <div ng-if="vm.evaluationResult.Succeeded">
                    <h4 translate="Content.Import.Evaluation.Detail.Title" translate-values="{filename: vm.formValues.File.filename}"></h4>
                    <h5 translate="Content.Import.Evaluation.Detail.File.Title"></h5>
                    <ul>
                        <li translate="Content.Import.Evaluation.Detail.File.ElementCount" translate-values="{count: vm.evaluationResult.Detail.DocumentElementsCount}"></li>
                        <li translate="Content.Import.Evaluation.Detail.File.LanguageCount" translate-values="{count: vm.evaluationResult.Detail.LanguagesInDocumentCount}"></li>
                        <li translate="Content.Import.Evaluation.Detail.File.Attributes" translate-values="{count: vm.evaluationResult.Detail.AttributeNamesInDocument.length, attributes: vm.evaluationResult.Detail.AttributeNamesInDocument.join(', ')}"></li>
                    </ul>
                    <h5 translate="Content.Import.Evaluation.Detail.Entities.Title"></h5>
                    <ul>
                        <li translate="Content.Import.Evaluation.Detail.Entities.Create" translate-values="{count: vm.evaluationResult.Detail.AmountOfEntitiesCreated}"></li>
                        <li translate="Content.Import.Evaluation.Detail.Entities.Update" translate-values="{count: vm.evaluationResult.Detail.AmountOfEntitiesUpdated}"></li>
                        <li translate="Content.Import.Evaluation.Detail.Entities.Delete" translate-values="{count: vm.evaluationResult.Detail.AmountOfEntitiesDeleted}"></li>
                        <li translate="Content.Import.Evaluation.Detail.Entities.AttributesIgnored" translate-values="{count: vm.evaluationResult.Detail.AttributeNamesNotImported.length, attributes: vm.evaluationResult.Detail.AttributeNamesNotImported.join(', ')}"></li>
                    </ul>
                    <div class="text-warning" translate="Content.Import.Messages.ImportCanTakeSomeTime"></div>
                </div>
                <!-- END DETAILS / STATISTICS -->
                <!-- ERRORS -->
                <div ng-if="!vm.evaluationResult.Succeeded">
                    <h4 translate="Content.Import.Evaluation.Error.Title" translate-values="{filename: vm.formValues.File.filename}"></h4>
                    <ul>
                        <li ng-repeat="error in vm.evaluationResult.Detail">
                            <div><span translate="Content.Import.Evaluation.Error.Codes.{{error.ErrorCode}}"></span></div>
                            <div ng-if="error.ErrorDetail"><i translate="Content.Import.Evaluation.Error.Detail" translate-values="{detail: error.ErrorDetail}"></i>
                            </div>
                            <div ng-if="error.LineNumber"><i translate=Content.Import.Evaluation.Error.LineNumber" translate-values="{number: error.LineNumber}"></i>
                            </div>
                            <div ng-if="error.LineDetail"><i translate="Content.Import.Evaluation.Error.LineDetail" translate-values="{detail: error.LineDetail}"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END ERRORS -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left" ng-click="vm.back()" icon="arrow-left"></button>
                <button type="button" class="btn btn-default pull-left" ng-click="vm.importContent()" translate="Content.Import.Commands.Import" ng-disabled="!vm.evaluationResult.Succeeded"></button>
            </div>
        </div>
        <!-- END EVALUATION RESULT -->


        <!-- IMPORT RESULT -->
        <div ng-switch-when="3">
            <div class="modal-body">
                <span ng-show="vm.importResult.Succeeded" translate="Content.Import.Messages.ImportSucceeded"></span>
                <span ng-hide="vm.importResult.Succeeded" translate="Content.Import.Messages.ImportFailed"></span>
            </div>
        </div>
        <!-- END IMPORT RESULT -->

        <div ng-if="vm.debug.on">
            <h3>Debug infos</h3>
            <pre>{{vm.formValues | json}}</pre>
        </div>
    </div>
</div>