<div sxc-app="ContentTypesApp" eav-app="ContentTypesApp">
    <div class="modal-header">
        <h3 class="modal-title">Content-Types and Data</h3>
    </div>
    <div class="modal-body">
        <div ng-controller="List as vm">
            <!-- Buttons on top -->
            <a ng-click="vm.edit()" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <button type="button" class="btn btn-default" ng-click="vm.refresh()">
                <span class="glyphicon glyphicon-repeat"></span> 
            </button>
        <!-- Table of content types for editing -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Fields</th>
                        <th>Items</th>
                        <th>Permissions</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="vm.items.isLoaded" ng-repeat="item in vm.items | orderBy:'Name'">
                        <td><a ng-click="vm.edit(item)" target="_self">{{item.Name}}</a></td>
                        <td>{{item.Description}}</td>
                        <td>
                            <button type="button" class="btn btn-xs" ng-click="vm.editFields(item)">
                                <span class="glyphicon glyphicon-cog"> {{item.Fields}}</span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs" ng-click="vm.editItems(item)">
                                <span class="glyphicon glyphicon-list"> {{item.Items}}</span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs" ng-click="vm.permissions(item)" ng-if="vm.isGuid(item.StaticName)">
                                <span class="glyphicon glyphicon-user"></span> Permissions
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="!vm.items.length">
                        <td colspan="100">Loading... or no items found</td>
                    </tr>
                </tbody>
            </table>

            <!-- import/export -->
            <h3>Export/Import </h3>
        <button type="button" class="btn" ng-click="vm.openExport()">
            <span class="glyphicon glyphicon-export"></span> Export
        </button>
            xxx
            <button type="button" class="btn" ng-click="vm.openImport()">
                <span class="glyphicon glyphicon-import"></span> Import
            </button>

        </div>
    </div>
</div>
