/* These are helpers to create larger dialogs than available by default in boostrap*/
.modal-xlg {
     width: 95%;
}
.modal-max {
     width: 100%;
}


/* this helps that tooltips can wrap as we want them to */
.tooltip-inner {
    white-space: pre-wrap;
}


/* since we have many windows on other windows, I want to reduce opacity so it's more see-through */
.modal-backdrop.in {
    opacity: .1;
}