<div>
    <label for="{{id}}" class="control-label {{to.labelSrOnly ? 'sr-only' : ''}}" ng-if="to.label">
        {{to.label}}
        {{to.required ? '*' : ''}}
        <a tabindex="-1" ng-click="to.showDescription = !to.showDescription" href="javascript:void(0);" ng-if="to.description && to.description != ''"  title="{{to.description}}">
            <i icon="info-sign"></i>
        </a>
    </label>
    <p ng-if="to.showDescription" class="bg-info" style="padding: 5px;" ng-bind-html="to.description">
    </p>
    <formly-transclude></formly-transclude>
</div>