<div class="checkbox checkbox-labeled">
    <!--<label>-->
        <switch class="tosic-green pull-left" ng-model="value.Value"></switch>
    <!-- maybe need the (hidden) input to ensure the label actually switches the boolean -->
        <!--<input type="checkbox" class="formly-field-checkbox" ng-model="value.Value" style="display: none">-->
        <div class="disable-float-label" ng-include="'wrappers/eav-label.html'"></div>
        <!--{{to.label}} {{to.required ? '*' : ''}}-->
    <!--</label>-->
</div>