.eav-entityselect-reload { color:#DDD; cursor:pointer; }
    .eav-entityselect-reload.active {
        color: #0088f4;
    }
.ui-select-no-choice {
    background: #fcf8e3!important; padding-left:7px;}