<div class="eav-entityselect">

    <div ui-tree="options" data-empty-placeholder-enabled="false" ng-show="to.settings.merged.EnableCreate || chosenEntities.length > 0">
        <table ui-tree-nodes ng-model="chosenEntities" entity-validation ng-required="false" class="eav-entityselect-table" style="table-layout:fixed;">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="item in chosenEntities track by $id(item)" ui-tree-node class="eav-entityselect-item" ui-tree-handle>
                <td>
                    <i title="{{ 'FieldType.Entity.DragMove' | translate }}" class="eav-icon-link pull-left eav-entityselect-icon" ng-show="to.settings.Entity.AllowMultiValue"></i>
                    <i title="" class="eav-icon-link pull-left eav-entityselect-icon" ng-show="!to.settings.Entity.AllowMultiValue"></i>
                </td>
                <td>
                    <span class="eav-entityselect-item-title" title="{{getEntityText(item) + ' (' + item + ')'}}">{{getEntityText(item)}}</span>
                </td>
                <td style="text-align:right;">
                    <ul class="eav-entityselect-item-actions" data-nodrag>
                        <li>
                            <a title="{{ 'FieldType.Entity.Edit' | translate }}" ng-click="edit(item, index)" ng-if="to.settings.merged.EnableEdit">
                                <i class="eav-icon-pencil"></i>
                            </a>
                        </li>
                        <li>
                            <a title="{{ 'FieldType.Entity.Remove' | translate }}" ng-click="removeSlot(item, $index)" class="eav-entityselect-item-remove" ng-if="to.settings.merged.EnableRemove">
                                <i ng-class="{ 'eav-icon-minus-circled': to.settings.merged.AllowMultiValue, 'eav-icon-down-dir': !to.settings.merged.AllowMultiValue  }"></i>
                            </a>
                        </li>
                        <li>
                            <!-- todo: i18n, code in action, eav-icon-visiblity/alignment -->
                            <a title="{{ 'FieldType.Entity.Delete' | translate }}" ng-click="deleteItemInSlot(item, $index)" class="eav-entityselect-item-remove" ng-if="to.settings.merged.EnableDelete">
                                <i class="eav-icon-cancel"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <ol>
        <!-- test - want to re-align how two add-scenarios work; ideally side-by side -->
        <li class="eav-entityselect-item subtle-till-mouseover"
            ng-show="(to.settings.merged.EnableAddExisting && (to.settings.merged.AllowMultiValue || chosenEntities.length < 1)) || (to.settings.merged.EnableCreate && (to.settings.merged.AllowMultiValue || chosenEntities.length < 1))">

            <!-- create new entity to add to this list -->
            <div ng-if="to.settings.merged.EnableCreate && (to.settings.merged.AllowMultiValue || chosenEntities.length < 1)"
                 class="eav-entityselect-item eav-entityselect-create"
                 ng-click="openNewEntityDialog()"
                 style="width: 50%; float: left"
                 >
                <i class="eav-icon-plus pull-left eav-entityselect-icon"></i>
                <span>{{ 'FieldType.Entity.New' | translate }}&nbsp;</span>
            </div>

            <div
                style="width: 50%; float: left;"
                class="eav-entityselect-item"
                ng-show="to.settings.merged.EnableAddExisting && (to.settings.merged.AllowMultiValue || chosenEntities.length < 1)">
                    <i class="eav-icon-plus-circled pull-left eav-entityselect-icon-before-select"></i>
                    <div class="eav-entityselect-selector-wrapper">
                        <select class="eav-entityselect-selector form-control input-lg"
                                formly-skip-ng-model-attrs-manipulator
                                ng-model="selectedEntity"
                                ng-change="addEntity()">
                            <option selected="selected" value="" translate="FieldType.Entity.Choose"></option>
                            <option ng-repeat="item in availableEntities" ng-disabled="chosenEntities.indexOf(item.Value) != -1" value="{{item.Value}}">{{item.Text}}</option>
                        </select>
                </div>
            </div>
        </li>
        <!-- add existing entity to this list--><!--ng-if="to.settings.merged.EnableAddExisting"-->
        <!--<li class="eav-entityselect-item subtle-till-mouseover"
            ng-show="to.settings.merged.EnableAddExisting && (to.settings.merged.AllowMultiValue || chosenEntities.length < 1)">
            <div>
                <i class="eav-icon-plus-circled pull-left eav-entityselect-icon-before-select"></i>
                <div class="eav-entityselect-selector-wrapper">
                    <select class="eav-entityselect-selector form-control input-lg"
                            formly-skip-ng-model-attrs-manipulator
                            ng-model="selectedEntity"
                            ng-change="addEntity()">
                        <option value="" translate="FieldType.Entity.Choose"></option>
                        <option ng-repeat="item in availableEntities" ng-disabled="chosenEntities.indexOf(item.Value) != -1" value="{{item.Value}}">{{item.Text}}</option>
                    </select>
                </div>
            </div>
        </li>-->

        <!-- create new entity to add to this list -->
        <!--<li ng-if="to.settings.merged.EnableCreate && (to.settings.merged.AllowMultiValue || chosenEntities.length < 1)"
            class="eav-entityselect-item eav-entityselect-create subtle-till-mouseover">
            <div ng-click="openNewEntityDialog()">
                <i class="eav-icon-plus pull-left eav-entityselect-icon"></i>
                <span>{{ 'FieldType.Entity.New' | translate }}&nbsp;</span>
            </div>
        </li>-->
    </ol>
</div>