<div ng-if="vm.items != null" ng-click="vm.debug.autoEnableAsNeeded($event)" class="form-container-multi">
    <eav-language-switcher is-disabled="!vm.isValid()"></eav-language-switcher>

    <div ng-repeat="p in vm.items" class="group-entity">
        <div class="form-ci-title unhide-area" ng-click="p.collapse = !p.collapse">
            <span style="position: relative">
                <i class="decoration eav-icon-side-marker"></i>
                <i class="decoration state eav-icon-minus collapse-entity-button hide-till-mouseover" ng-if="!p.collapse"></i>
                <i class="decoration state eav-icon-plus collapse-entity-button" ng-if="p.collapse"></i>
            </span>

            {{p.Header.Title ? p.Header.Title : 'EditEntity.DefaultTitle' | translate }}&nbsp;
            <span ng-if="p.Header.Group.SlotCanBeEmpty" ng-click="vm.toggleSlotIsEmpty(p)" stop-event="click">
                <i class="eav-icon-toggle-off" ng-class=" p.slotIsUsed ? 'eav-icon-toggle-on' : 'eav-icon-toggle-off' " ng-click="p.slotIsUsed = !p.slotIsUsed" tooltip="{{'EditEntity.SlotUsed' + p.slotIsUsed | translate}}"></i>
            </span>
        </div>
        <div ng-if="vm.itemsHelp[$index]" ng-bind-html="vm.itemsHelp[$index]"></div>
        <eav-edit-entity-form entity="p.Entity" header="p.Header" register-edit-control="vm.registerEditControl" ng-hide="p.collapse"></eav-edit-entity-form>
    </div>


    <div>
        <!-- note: the buttons are not really disabled, because we want to be able to click them and see the error message -->
        <div class="btn-group" dropdown>
            <button ng-class="{ 'disabled': !vm.isValid() || vm.isWorking > 0}" ng-click="vm.save(true)" type="button" class="btn btn-primary btn-lg submit-button">
                <span class="eav-icon-ok" tooltip="{{ 'Button.Save' | translate }}"></span> &nbsp;<span translate="Button.Save"></span>
            </button>
            <button class="dropdown-toggle btn btn-primary btn-lg" ng-class="{ 'disabled': !vm.isValid() || vm.isWorking > 0}" dropdown-toggle><i class="caret"></i></button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="vm.save(true)"><i class="eav-icon-ok"></i> {{ 'Button.Save' | translate }}</a></li>
                <li><a ng-click="vm.save(false)"><i class="eav-icon-ok-circled2"></i> {{ 'Button.SaveAndKeepOpen' | translate }}</a></li>
            </ul>
        </div>
        <!--&nbsp;
        <button ng-class="{ 'disabled': !vm.isValid() || vm.isWorking > 0}" class="btn btn-default btn-lg btn-icon-square" type="button" ng-click="vm.save(false)">
            <span class="eav-icon-ok-circled2" tooltip="{{ 'Button.SaveAndKeepOpen' | translate }}"></span>
        </button>-->
        &nbsp;
        <!-- note: published status will apply to all - so the first is taken for identification if published -->
        &nbsp;
        <div class="btn-group" dropdown>
            <a class="dropdown-toggle" dropdown-toggle><i ng-class="{'eav-icon-eye': vm.publishMode === 'show', 'eav-icon-eye-close': vm.publishMode === 'hide', 'eav-icon-git-branch': vm.publishMode === 'branch'}"></i> {{ 'SaveMode.' + vm.publishMode |translate }}<i class="caret"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="vm.publishMode = 'show'"><i class="eav-icon-eye"></i> {{ 'SaveMode.show' |translate }}</a></li>
                <li><a ng-click="vm.publishMode = 'hide'"><i class="eav-icon-eye-close"></i> {{ 'SaveMode.hide' |translate }}</a></li>
                <li ng-show="vm.enableDraft"><a ng-click="vm.publishMode = 'branch'"><i class="eav-icon-git-branch"></i> {{ 'SaveMode.branch' |translate }}</a></li>
            </ul>
        </div>



        <span ng-if="vm.debug.on">
            <button class="eav-icon-flash btn" tooltip="debug" ng-click="vm.showDebugItems = !vm.showDebugItems"></button>
        </span>
        <show-debug-availability class="pull-right" style="margin-top: 20px;"></show-debug-availability>
    </div>
    <div ng-if="vm.debug.on && vm.showDebugItems">
        <div>
            isValid: {{vm.isValid()}}<br />
            isWorking: {{vm.isWorking}}
        </div>
        <pre>{{ vm.items | json }}</pre>
    </div>
</div>