<div ng-if="vm.items != null" ng-click="vm.debug.autoEnableAsNeeded($event)">
    <eav-language-switcher is-disabled="!vm.isValid()"></eav-language-switcher>

    <div ng-repeat="p in vm.items" class="group-entity">
        <h3 class="clickable" ng-click="p.collapse = !p.collapse">
            {{p.Header.Title ? p.Header.Title : 'EditEntity.DefaultTitle' | translate }}&nbsp;
            <span ng-if="p.Header.Group.SlotCanBeEmpty" ng-click="vm.toggleSlotIsEmpty(p)" stop-event="click">
                <switch ng-model="p.slotIsUsed" class="tosic-blue" style="top: 6px;" tooltip="{{'EditEntity.SlotUsed' + p.slotIsUsed | translate}}"></switch>
            </span>
            <span class="pull-right clickable" style="font-size: smaller">
                <span class="icon-plus-circled low-priority collapse-entity-button" ng-if="p.collapse"></span>
                <span class="icon-minus-circled collapse-entity-button" ng-if="!p.collapse"></span>
            </span>
        </h3>
        <eav-edit-entity-form entity="p.Entity" header="p.Header" register-edit-control="vm.registerEditControl" ng-hide="p.collapse"></eav-edit-entity-form>
    </div>


    <div>
        <!-- note: the buttons are not really disabled, because we want to be able to click them and see the error message -->
        <button ng-class="{ 'disabled': !vm.isValid() || vm.isWorking > 0}" ng-click="vm.save(true)" type="button" class="btn btn-primary btn-lg submit-button">
            <span class="icon-ok" tooltip="{{ 'Button.Save' | translate }}"></span> &nbsp;<span translate="Button.Save"></span>
        </button>
        &nbsp;
        <button ng-class="{ 'disabled': !vm.isValid() || vm.isWorking > 0}" class="btn btn-default btn-lg btn-icon-square" type="button" ng-click="vm.save(false)">
            <span class="icon-ok-circled2" tooltip="{{ 'Button.SaveAndKeepOpen' | translate }}"></span>
        </button>
        &nbsp;
        <!-- note: published status will apply to all - so the first is taken for identification if published -->
        <switch ng-model="vm.willPublish" class="tosic-blue" style="top: 13px;"></switch>
        &nbsp;
        <span ng-click="vm.willPublish = !vm.willPublish;" class="save-published-icon">
            <i ng-if="vm.willPublish" class="icon-eye"  tooltip="{{ 'Status.Published' | translate }} - {{ 'Message.WillPublish' | translate }}"></i>
            <i ng-if="!vm.willPublish" class="icon-eye-close" tooltip="{{ 'Status.Unpublished' | translate }} - {{ 'Message.WontPublish' | translate }}"></i>
        </span>


        <span ng-if="vm.debug.on">
            <button class="icon-flash btn" tooltip="debug" ng-click="vm.showDebugItems = !vm.showDebugItems"></button>
        </span>
        <show-debug-availability class="pull-right" style="margin-top: 20px;"></show-debug-availability>
    </div>
    <div ng-if="vm.debug.on && vm.showDebugItems">
        <div>
            isValid: {{vm.isValid()}}<br/>
            isWorking: {{vm.isWorking}}
        </div>
        <pre>{{ vm.items | json }}</pre>
    </div>
</div>