    <div class="modal-header">
        <button class="btn btn-default btn-square pull-right" type="button" ng-click="vm.close()"><i icon="remove"></i></button>
        <h3 class="modal-title" translate="Permissions.Title"></h3>
    </div>
    <div class="modal-body">

        <button type="button" class="btn btn-primar btn-square" ng-click="vm.add()"><i icon="plus"></i></button>
        <button ng-if="vm.debug.on" type="button" class="btn btn-square" ng-click="vm.refresh()"><i icon="repeat"></i></button>

        <table class="table table-striped table-hover table-manage-eav">
            <thead>
            <tr>
                <th translate="Permissions.Table.Id" style="width: 60px"></th>
                <th translate="Permissions.Table.Name" style="width: 33%"></th>
                <th translate="Permissions.Table.Condition" style="width: 33%"></th>
                <th translate="Permissions.Table.Grant" style="width: 33%"></th>
                <th translate="Permissions.Table.Actions" style="width: 40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items | orderBy:'Title'" class="clickable-row" ng-click="vm.edit(item)">
                <td class="clickable">{{item.Id}}</td>
                <td class="clickable">{{item.Title}}</td>
                <td class="clickable">{{item.Condition}}</td>
                <td class="clickable">{{item.Grant}}</td>
                <td class="text-nowrap" stop-event="click">
                    <button icon="remove" type="button" class="btn btn-xs btn-square" ng-click="vm.tryToDelete(item)"></button>
                </td>
            </tr>
            <tr ng-if="!vm.items.length">
                <td colspan="100" translate="General.Messages.NothingFound"></td>
            </tr>
            </tbody>
        </table>
    </div>