<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!--<add connectionString="Server=Srv-DevWeb-01\ToFlex04;Database=EAVLibrary;Integrated Security=true" name="SiteSqlServer" providerName="System.Data.SqlClient" />-->
		<add name="EavContext" connectionString="metadata=res://*/Persistence.EavContext.csdl|res://*/Persistence.EavContext.ssdl|res://*/Persistence.EavContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Srv-DevWeb-01\ToFlex04;Initial Catalog=EAVLibrary;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="vs:EnableBrowserLink" value="false" />
	</appSettings>
	<system.web>
		<trace enabled="true"/>
		<httpRuntime requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			</assemblies>
		</compilation>
		<pages styleSheetTheme="Default" validateRequest="false"/>
	</system.web>
</configuration>